body {
    color: black;
    background-color: white;
    margin: 0;
    font-family: Arial;
}

header {
    height: 2.4em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 5px 5px #575757;
}

main {
    width: 100%;
}

#sandwich-icon {
    display: inline-block;
    height: 100%;
    width: 18px;
    padding: 0 10px 0 2px;
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-517-menu-hamburger.png") no-repeat center;
}

#main-title {
    display: inline-block;
    position: absolute;
    padding: 7px 0 0 10px;
    font-size: 1.3rem;
    font-weight: normal;
}

#tile-icon {
    display: inline-block;
    float: right;
    height: 100%;
    width: 22px;
    padding: 0 20px 0 0;
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-157-show-thumbnails.png") no-repeat center;
}

#plus-icon {
    display: inline-block;
    float: right;
    height: 100%;
    width: 20px;
    padding: 0 10px 0 0;
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-433-plus.png") no-repeat center;
}

#logout-icon {
    display: inline-block;
    height: 100%;
    width: 18px;
    padding: 0 10px 0 2px;
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-388-log-out.png") no-repeat center;
}

#refresh-icon {
    display: inline-block;
    float: right;
    height: 100%;
    width: 26px;
    padding: 0 10px 0 0;
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-82-refresh.png") no-repeat center;
}

main ul {
    margin: 2.4em 0 0 0;
    padding: 0;
}

main ul li:first-child {
    border-top: lightgrey solid 0.7em;
}

main ul li {
    list-style: none;
    height: 5em;
    border-bottom: solid grey 1px;
}

main ul li:last-child {
    margin-bottom: 3em;
}

footer {
    position: fixed;
    height: 3em;
    width: 100%;
    background-color: white;
    bottom: 0;
    left: 0;
    border-top: solid #ee7230 3px;
}