body {
    color: black;
    background-color: white;
    margin: 0;
    font-family: Arial;
}

header {
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 5px 5px #575757;
}

main {
    width: 100%;
    min-width: 300px;
}

#sandwich-icon {
    display: inline-block;
    height: 18px;
    width: 22px;
    margin: 15px 0 0 10px;
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-517-menu-hamburger.png") no-repeat center;
}

#main-title {
    display: inline-block;
    position: absolute;
    margin: 11px 0 0 15px;
    font-size: 1.5rem;
    font-weight: normal;
}

#tile-icon {
    display: inline-block;
    float: right;
    height: 22px;
    width: 22px;
    margin: 15px 10px 0 0;
    filter: invert(80%);
    border: none;
    outline: none;
    background: url("../img/glyphicons/png/glyphicons-157-show-thumbnails.png") no-repeat center;
}

#plus-icon {
    display: inline-block;
    float: right;
    height: 20px;
    width: 20px;
    margin: 15px 10px 0 0;
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-433-plus.png") no-repeat center;
}

#logout-icon {
    display: inline-block;
    height: 18px;
    width: 21px;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-388-log-out.png") no-repeat center;
}

#refresh-icon {
    display: inline-block;
    float: right;
    height: 25px;
    width: 26px;
    margin-right: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(80%);
    background: url("../img/glyphicons/png/glyphicons-82-refresh.png") no-repeat center;
}

main ul {
    margin: 3em 0 0 0;
    padding: 0;
}

main ul li:first-child {
    border-top: lightgrey solid 0.7em;
}

.tile main ul li:first-child {
    border-top: none;
}

main ul li {
    list-style: none;
    height: 7.5em;
    border-bottom: solid grey 1px;
    position: relative;
    z-index: -1;
}

.tile main ul li {
    display: inline-block;
    list-style: none;
    float: left;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -1;
    border-bottom: none;
}

.grey-text-in-list-item {
    font-size: 0.8em;
    color: #828282;
}

.tile .grey-text-in-list-item {
    font-size: 0.8em;
    color: #828282;
    display: none;
}

.list-image {
    position: absolute;
    float: left;
    padding: 10px 0 0 10px;
}

.list-image-source {
    position: absolute;
    top: 10px;
    left: 105px;
}

.list-image-title {
    position: absolute;
    top: 40px;
    left: 105px;
}

.tile .list-image-title {
    position: absolute;
    top: 40px;
    left: 105px;
    display: none;
}

.list-image-tags::before {
    background-image: url("../img/glyphicons/png/glyphicons-174-play.png");
    filter: invert(80%);
    content: "";
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    display: inline-block;
    margin-right: 0.4em;
}

.list-image-tags {
    position: absolute;
    top: 75px;
    left: 105px;
}

.list-image-date {
    position: absolute;
    right: 15px;
    top: 10px;
}

.list-image-options {
    position: absolute;
    right: 15px;
    bottom: 24px;
    background: url("../img/glyphicons/png/glyphicons-518-option-vertical.png") no-repeat center;
    filter: invert(80%);
    height: 25%;
    width: 6px;
}

.tile .list-image-options {
    position: absolute;
    right: 15px;
    bottom: 4px;
    background: url("../img/glyphicons/png/glyphicons-518-option-vertical.png") no-repeat center;
    filter: invert(80%);
    height: 25%;
    width: 6px;
}

main ul li:last-child {
    margin-bottom: 3em;
}

.tile main ul li:last-child {
    margin-bottom: 4em;
}

footer {
    position: fixed;
    height: 3em;
    width: 100%;
    background-color: white;
    bottom: 0;
    left: 0;
    border-top: solid #ee7230 3px;
}